<div id="left-sidebar">
  <mat-accordion multi displayMode="flat" *ngIf="scene">
    <div cdkDropListGroup>
      <mat-expansion-panel *ngFor="let layer of layerNames; index as i">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{layer}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="entity-list" cdkDropList [id]="layer" (cdkDropListDropped)="drop($event)" [cdkDropListData]="layer">
          <div *ngFor="let entity of layerEntities[i]" cdkDrag (cdkDragStarted)="onDragStarted()" (cdkDragReleased)="onDragReleased()" [cdkDragData]="entity">
            <span
              [matMenuTriggerFor]="menu"
              [matMenuTriggerData]="{ entity: entity }"
              #menuTrigger="matMenuTrigger"
            >
            </span>
            <button mat-button (click)="selectEntity(entity)" (contextmenu)="handleEntityRightclick($event, menuTrigger)">
              {{entity}}
            </button>
          </div>
        </div>
        <mat-action-row>
          <button *ngIf="layer!='default'" mat-stroked-button color="warn" (click)="removeLayer(layer)">Remove Layer</button>
        </mat-action-row>

      </mat-expansion-panel>
    </div>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          No Layer
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngFor="let entity of otherEntities">
        <button mat-button (click)="selectEntity(entity)">
          {{entity}}
        </button>
      </ng-container>
    </mat-expansion-panel>
  </mat-accordion>
  <button mat-raised-button id="add-entity-button" (click)="openEntityDialog()" >Add Entity</button>
  <button mat-raised-button id="add-layer-button" (click)="openLayerDialog()" >Add Layer</button>
</div>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-entity="entity">
    <button mat-menu-item (click)="deleteEntity(entity)">Delete</button>
  </ng-template>
</mat-menu>
