<mat-card style="height: 100%; box-sizing: border-box; padding:0">
    <app-file-explorer
    [fileElements]="fileElements | async"
    [path]="currentPath"
    [canNavigateUp]="canNavigateUp"
    (fileAdded)="addFile($event)"
    (folderAdded)="addFolder($event)"
    (elementRemoved)="removeElement($event)"
    (navigatedDown)="navigateToFolder($event)"
    (navigatedUp)="navigateUp()"
    (elementRenamed)="renameElement($event)"
    (elementMoved)="moveElement($event)"
    >
    </app-file-explorer>
</mat-card>