:host{
    height: 100%;
}

.bgimg {
  background-image: url("background.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
  color: black;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

hr {
  margin: auto;
  width: 40%;
}
