<div id="right-sidebar">
  <div *ngIf="entity">
    <mat-form-field appearance="fill">
      <mat-label>Entity name</mat-label>
      <input matInput type="text" value={{entity.name}}>
    </mat-form-field>

    <h2 class="mat-h2">Components</h2>
    <mat-accordion multi>
      <mat-expansion-panel *ngFor="let component of entity.getAllComponents()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{component}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let property of entity.getFromName(component) | keyvalue">
          <mat-form-field [style.width.%]="100" *ngIf="property.key !== 'dependencies'">
            <mat-label color="primary">{{property.key}}</mat-label>
            <input matInput value={{property.value}} (change)="handleChange($event, component, property)">
          </mat-form-field>
        </ng-container>
      </mat-expansion-panel>
    </mat-accordion>
    <button mat-raised-button id="add-component-button" (click)="openDialog()" >Add Component</button>
  </div>

  <div *ngIf="!entity">
    <h2 class="mat-h2">No entity selected</h2>
  </div>
</div>
