:host {
    min-width: 200px;
    border-right: 1px solid #ccc;
    resize: horizontal;
    overflow: auto;
}

#add-entity-button {
  margin: 20px auto 0 auto;
  display: block;
}

#add-layer-button {
  margin: 20px auto 0 auto;
  display: block;
}

.entity-list {

  button {
    background-color: #eee;
    width: 100%;
    margin: 2px 0;
  }
}

.dragging {
  min-height: 35px;
  border: 2px dashed #ccc;
}
