:host {
  position: relative;
  width : 23%;
  min-width: 150px;
  border-left: 1px solid #ccc;
  background-color: #fafafa;
  padding: 10px;
}

#add-component-button {
  margin: 20px auto 10px auto;
  display: block;
}

#make-prefab-button {
  margin: 20px auto 10px auto;
  display: block;
}

#right-sidebar{
  height: 100%;
  overflow-y: auto;
}

#right-sidebar-resizer {
  position: absolute;
  top: 0;
  left: -2px;
  width: 5px;
  height: 100%;
  z-index: 100;
  cursor: col-resize;
  background-color: #ccc;
}
